<div class="col-md-9 col-sm-8 col-xs-12 "> 
    <div class="form-box">                                          
  
        
  <form method="post" action="" id="pass-form">
    <div class="user-name">First Name</div>
   
    <input type="text" class="form-control" name="fname" value="<%= users.fname %>" disabled ="disabled"/>
    <div class="user-name">Last Name</div>
    
    <input type="text" class="form-control" name="lname" value= "<%= users.lname %>" disabled ="disabled"/>
  <div class="user-name">User Name</div>
    
    <input type="text" class="form-control" name="username" value= "<%= users._user.username %>" disabled ="disabled"/>
      
      <div class="user-name">Email</div>
      <input type="email" class="form-control" name="email" value= "<%= users.email %>"  disabled ="disabled" />
      <div class="user-name">Phone</div>
      <input type="text" class="form-control" name="phone" value= "<%= users.phone %>" disabled ="disabled" />
      <br/>
     <a href="/admin/trainer/" class="btn btn-default">Back</a>
   
</form>

</div>
</div>

  </div>
  </div>
</div>